{%extends 'base.html'%}
{%block title%}{%endblock%}
{%block extra_css%}
{%load static%}
{%load blog_extras %}
<style>
    .post-image {max-height: 500px;object-fit: cover;width: 100%;border-radius: 10px;}
    .post-title {color: #f0f0f0;font-size: 2.5rem;font-weight: bold;}
    .post-body {font-size: 1.2rem;line-height: 1.6;color: #f0f0f0; background-color:black;}
    .post-meta {font-size: 1rem;color: #7f8c8d;}
    .post-date {margin-top: 10px;font-style: italic;}
</style>
{%endblock%}
{%block content%}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% if post.image %}
                        <img src="{%static 'images/avatar_cosmin.png'%}" class="post-image" alt="{{ post.title }}">
                    {% else %}
                        <img src="{%static 'images/avatar_cosmin.png'%}" class="post-image" alt="{{ post.title }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="content">
                    <h2 class="post-meta">{{ post.date_posted|date:"F d, Y" }}</h2>
                    <h1 class="post-title">{{ post.title }}</h1>
                    <p class="post-body">
                        {{ post.body| convert_markdown|safe|linebreaks}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}